// src/pages/Product.module.scss
.wrap {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 2rem;
}

.gallery {
  display: grid;
  gap: .6rem;
}

.photo {
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/4;
  }

  svg {
    width: 100%;
    height: 100%;
    opacity: 0.08;
    transition: opacity .25s ease;
  }
}

.title {
  margin: 0;
  padding: 10px 0;
  margin-bottom: 20px;
}

.meta {
  display: flex;
  gap: .6rem;
  margin: .6rem 0 1rem;
}

.desc {
  color: var(--muted);
}

.buy {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.5rem;
}

.price {
  font-weight: 600;
  font-size: 1.6rem;
}

@media (max-width: 900px) {
  .wrap {
    grid-template-columns: 1fr;
    padding: 0;
  }

}