// src/components/Header.module.scss
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background: var(--header-bg);
  backdrop-filter: var(--header-backdrop);
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: .8rem 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;

  img {
    display: flex;
    height: 23px;
  }
}

.logoMark {
  width: 20px;
  height: 20px;
  object-fit: cover;
  color: var(--logo-color);
}

.logoText {
  font-weight: 800;
  letter-spacing: .2px;
}

.nav {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.navItem {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .4rem;
  border-radius: 10px;
  text-decoration: none;
  color: var(--text);
}

.btnIcon {
  appearance: none;
  border: none;
  background: transparent;
  color: var(--text);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
}

.cart {
  gap: .4rem;
}

.countBadge {
  position: absolute;
  top: -4px;
  right: -6px;
  min-width: 1.35rem;
  height: 1.35rem;
  padding: 0 .35rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: .75rem;
  border-radius: 999px;
  background: #3f3f3f;
  color: white;
}

/* адаптив */
@media (max-width: 640px) {
  .logoText {
    display: none;
  }
}


.hideMobile {
  display: block;
}

.hideODesktop {
  display: none;
}

@media (max-width: 768px) {
  .hideMobile {
    display: none;
  }

  .hideODesktop {
    display: block;
  }
}