// src/components/ProductCard.module.scss
.card {
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: hidden;

}

.thumb {
  display: block;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  transition: transform .25s ease;
  overflow: hidden;
  display: flex;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  svg {
    width: 100%;
    height: 100%;
    opacity: 0.08;
    transition: opacity .25s ease;
  }
}

.body {
  padding: 1rem 0;
  display: grid;
  gap: .6rem;

}

.titleRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
}

.title {
  font-weight: 600;
}

.desc {
  color: var(--muted_2);
  margin: 0;
  font-size: 12px;
  font-weight: 300;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;

  button {
    width: 100%;
  }
}

.price {
  font-weight: 500;
  font-size: 1.5rem;
}